
@{
    ViewBag.Title = "ThankYou";
}
<br />
<br />
<div style="color:azure">

    <h2 style="color:Highlight">Thank You</h2>

    <h3>Thank you for your order</h3> <br /> <br />
    Your Order Id : <b style="color:Highlight">@ViewBag.OrderId</b>
</div>
